/*--POLICE IMPORTÉE Logo et titres: Shrikhand----Texte: Roboto--*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&family=Shrikhand&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*--bordure a l'intérieur de l'element--*/
}

body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}
h2 {
    padding: 2rem 0;
}