@use "../utils/mixins.scss";



.explorer {
    text-align: center;
    & h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    }
    & p {
    font-size: 27px;
    margin: 32px;
    color: rgba(0, 0, 0, 0.596);
    }
    & button {
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 1.3rem 2rem;
    border: none;
    border-radius: 2rem;
    transition-duration: .25s;
    //box-shadow: 2px 1px 16px -3px black;
    @include mixins.base-shadow; 
    @include mixins.gradient(0.9);
    }
    :hover {
        transform: scale(1.02);
        opacity: 0.9;
    }
}