@use "../utils/mixins.scss";
@use "../utils/colors.scss";

.loader {
    display: grid;
    place-items: center;
    position: fixed;
    height: 100vh;//vh=hauteur du viewport 100vh= taille complete de l'écran
    inset: 0;
    z-index: 1;//pr recouvrir l'écran
    background-color: #fff;
    opacity: 0.9;
    animation: loader 500ms;
    animation-fill-mode: forwards;// forwardss:cible retiendra les valeurs calculées définies lors de la dernière étape (keyframe)
    animation-delay: 3s;
    
    &::after {
        content: "";
        height: 100px;
        width:100px;
        border: 10px solid transparent;
        border-top: 10px solid colors.$purple;
        border-bottom: 10px solid colors.$color-tertiary;
        border-radius: 50%;
        animation: spin 3s infinite linear;
    }
}
@keyframes loader {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.explorer {
    text-align: center;
    background-color: #F6F6F6;
    padding-bottom: 4rem;
    & h2 {
    font-size: 2rem;
    }
    & p {
    font-size: 27px;
    padding: 0 0 3rem 0;
    color: rgba(0, 0, 0, 0.596);
    }
    & button {
    @include mixins.base-button;
    font-size: 1rem;
    }
}