@charset "UTF-8";
/*--POLICE IMPORTÉE Logo et titres: Shrikhand----Texte: Roboto--*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*--bordure a l'intérieur de l'element--*/
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h2 {
  padding: 2rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 38px;
  position: relative;
  text-align: center;
  box-shadow: 0 3px 3px 0 rgba(128, 128, 128, 0.459);
  padding: 10px 0 10px 0;
}

main .city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.explorer p {
  font-size: 27px;
  margin: 32px;
  color: rgba(0, 0, 0, 0.596);
}
.explorer button {
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 1.3rem 2rem;
  border: none;
  border-radius: 2rem;
  transition-duration: 0.25s;
  box-shadow: 2px 1px 16px -3px black;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.explorer :hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.tuto {
  padding: 2rem;
  counter-reset: steps;
}
.tuto h2 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.tuto ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  /* interdit e grossir*/
  border-radius: 1rem;
  box-shadow: 2px 1px 16px -3px black;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
}
.tuto li:hover {
  transform: scale(1.02);
}
.tuto i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

.menus {
  background-color: #F6F6F6;
  padding: 2rem 1rem;
}
.menus .menus__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
.menus .card {
  position: relative;
  flex-grow: 1;
  min-width: 30rem;
}
.menus .card img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
  margin-bottom: -0.2rem;
}
.menus .card .new {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.menus .card .card__description {
  position: relative;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 2px 8px 16px -6px grey;
  margin-bottom: 2rem;
  background-color: white;
}
.menus .card h3 {
  margin-bottom: 0.5rem;
}
.menus .card i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.menus .card .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: 200ms;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
.menus .card .fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

footer {
  background-color: #353535;
  padding: 0 1.5rem 2rem 1.5rem;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-weight: 500;
  padding-bottom: 1rem;
}
footer ul {
  text-decoration: none;
  color: white;
  list-style-type: none;
}
footer li {
  margin: 0.5rem;
}
footer i {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.banner img {
  display: block;
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

main {
  position: relative;
}
main i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
main .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: 200ms;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
main .fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
main .header {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
main h2 {
  font-family: "Shrikhand", cursive;
  padding: 2rem;
}

.grid {
  background-color: #f6f6f6;
  padding: 1rem;
}

.menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  .menus {
    grid-template-columns: 1fr;
  }
}

.menus__category {
  border: 1px red solid;
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
