@use "../utils/mixins.scss";
@use "../utils/colors.scss";
@use "../utils/variables.scss";
@use "../utils/animations.scss";


.banner img {
    display: block;// pr que l'image ne fasse pas de marge  avec la section du dessous 
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}

.container__main {
    position: relative;
    margin-top: -2rem;
    border-radius: 2rem 2rem 0 0;
    background-color: colors.$lightergrey;
    h2 { 
        position: relative;
        font-family: "Shrikhand", cursive; 
        margin: 0 2rem 0 2rem;
        @include mixins.heart-anime;
    }
} 
.resto{
    padding: 0 1rem;
    background-color: colors.$lightergrey;
    
}
.menus-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: colors.$lightergrey;
    @media (max-width: variables.$breakpoint) {
        grid-template-columns: 1fr;
    }
    h3 {
        position: relative;
        text-transform: uppercase;
        font-weight: 400;
        margin: 1rem;
        &::after { // pseudo elements CSS pour souligne entrées, plat, desserts
            content: "";
            position: absolute;
            top: 1.5rem;
            left: 0;
            height: 0.25rem;
            width: 3rem;
            background-color: colors.$color-tertiary;
        }
    }
    .menu-category {
        
        overflow: hidden; // ne montre pas ce qui n'est pas dans la section
        
        .menu-item {
            display: flex;
            border-radius: 1rem; 
            background-color: white;
            overflow: hidden; // ne montre pas ce qui n'est pas dans la section
            margin: 0.5rem;
            @include mixins.box-shadow;

            .menu-item-description {
            padding: 1rem;
            overflow: hidden; // ne montre pas ce qui n'est pas dans la section
            
            h4, p {
                overflow: hidden; // ne montre pas ce qui n'est pas dans la section
                white-space: nowrap; // force le texte a rester sur la meme ligne
                text-overflow: ellipsis; //faire apparaitre les 3points ...
            }
    }

            .price {
                display: flex; // pr mettre le prix aligné sur la ligne
                align-items: flex-end;
                margin-left: auto;
                font-weight: bold;
                padding: 1rem;
            }
            .menu-item-check {
                display: grid;
                place-items: center;
                flex-shrink: 0;//ne pas se rapetisser en reduisant la fenetre
                $button-width: 4rem;//variable locale
                border-radius: 0 1rem 1rem 0;
                background-color: colors.$color-tertiary;
                margin-right: -$button-width;
                width: $button-width;
                transition: margin-right 0.5s;
                i {
                    display: grid;
                    place-items: center;
                    background: white;
                    aspect-ratio: 1;
                    width: 2rem;
                    border-radius: 1rem;
                    color: colors.$color-tertiary;
                }
            }
            &:hover {
                cursor: pointer;
                .menu-item-check {
                margin-right: 0;
                }
                i {
                    @include animations.checkspin;
                    animation: checkspin 0.5s ease-in-out;
                }
            }
        }
    }
}


