@mixin gradient($opacity: 0.9) { // gradient pr button et coeur.*opacity:0.9 valeur par default
    background-image: linear-gradient(to top, rgba(147,86,220,$opacity),rgba(255,121,218,$opacity));
}    
@mixin base-shadow {
    box-shadow: 2px 1px 16px -3px black;
}
@mixin zoom {
    transform: scale(1.02);
}
@mixin heart-animated {
    i {
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
.fas { // transition sur les coeurs avec opacity+ ajout de mixin
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: 200ms;
    @include gradient(1);
    &:hover {
        opacity: 1;
        transform: translateY(-50%) scale(1.2);
    }
}
}